@media(max-width: 500px) {
    .text-contract {
        &-list {
            &-main {
                margin-top: 24px;
            }
            &-submain {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}