@use '../../../styles/base/mixins' as *;

@media(max-width:1230px) {
    .book-page{
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:992px) {
    .book-page { 
        grid-template-rows: 174px 1fr 104px;
    }
}

@media(max-width:768px) {
    .book-page { 
        grid-template-rows: 206px 1fr 104px;
        &__headers {
            header {
                height: 96px;
            }
        }
        .visible {
            position: fixed;
            opacity: 1;
            left: 25px;
            visibility: visible;
            width: 502px;
            height: max-content;      
            .menu {
                min-height: 442px;
                &__link {
                    p {
                        font-size: 16px;
                        margin: 16px 0 0 22px;
                    }
               }
               &__link-main { 
                    font-size: 18px;
                    &-mt {
                        margin: 42px 0;
                    }
                }
            }
        }
    }
}

@media(max-width:760px) {
    .book-page { 
        grid-template-rows: 176px 1fr 104px;
    }
}

@media(max-width:580px) {
    .book-page { 
        .visible {
            left: 16px;
            width: 288px;
        }
    }
}
