@media(max-width:1230px) {
    .terms-page {
        &__content {
            padding: 25px 30px 62px 30px;
        }
    }
}

@media(max-width:768px) {
    .terms-page {
        &__content {
            padding: 10px 50px 59px 10px;
            &-header {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }
}

@media(max-width: 500px) {
    .terms-page {
        grid-template-rows: 50px 1fr 104px;
        &__content {
            padding: 40px 10px 10px 0px;
            &-header {
                font-size: 18px;
                line-height: 28px;
            }
            &-block {
                margin-left: 17px;
            }
        }
    }
}