@use '../base/mixins' as *;

.bread-cumbs {
    margin-top: 25px;
    padding: 20px;
    background: #F9F9FA;
    &__wrapper {
        display: flex;
    }
    span {
        margin: 0 15px;
    }
    &__text {
        @include fz14(null,18px);
        color: #A7A7A7;
    }
    &__button {
        cursor: pointer;
        border: none;
        color: #A7A7A7;
        background-color: #F9F9FA;
        &:hover{
            color: #F83600 
        }
    }
}