@use '../base/mixins' as *;

.text-contract {
    &-list {
        &-main {
            @include fz16();
            font-weight: 600;
            margin-top: 15px;
        }
        &-submain {
            @include fz16();
            padding-left: 28px;
            li {
                margin-top: 16px;
            }
        }
    }
}