$gradient-color: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
$main-text-color: #363636;
$grey-color: #A7A7A7;

@mixin shadow($border-radius: 20px) {
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: $border-radius;
}


@mixin button($width: 350px,$height: 52px,$border-radius: 30px, $font-size: 16px) {
    cursor: pointer;
    width: $width;
    height: $height;
    background: $gradient-color;
    border-radius: 30px;
    font-weight: 600;
    font-size: $font-size;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    text-align: center; 
}

@mixin fz32($color:$main-text-color,$line-height: 40px) {
    font-weight: 700;
    font-size: 32px;
    line-height: $line-height;
    color:$color;
}

@mixin fz24 ($color: $main-text-color,$line-height: 30px){
    font-weight: 700;
    font-size: 24px;
    line-height: $line-height;
    color: $color;
}

@mixin fz22 ($color: $main-text-color,$line-height: 32px){
    font-weight: 700;
    font-size: 22px;
    line-height: $line-height;
    color: $color;
}

@mixin fz18 ($color: $grey-color,$line-height: 28px) {
    font-weight: 700;
    font-size: 18px;
    line-height: $line-height;
    color: $color;
}

@mixin fz16($color: $main-text-color, $line-height: 24px) {
    font-weight: 400;
    font-size: 16px;
    line-height: $line-height;
    color: $color;
}

@mixin fz14 ($color: $grey-color, $line-height: 24px){
    font-weight: 400;
    font-size: 14px;
    line-height: $line-height;
    color: $color;
}

@mixin fz12($color: $grey-color, $line-height: 16px) {
    font-weight: 500;
    font-size: 12px;  
    line-height: $line-height;
    color: $color;
}



